body {
	margin-left: 10px;
	margin-right: 10px;
	background-color: #ddd;
}

.bad {
	background-color: #d00;
}

.good {
	background-color: #0d0;
}

h1 {
	align: center;
}

.hide {
    display: none;
}

#buttons {
    min-width: 150px;
    align: center;
    margin: 20px;
}

#satListButton,
.trustButton,
.distructButton {
    -mox-appearance:button;
    -webkit-appearance:button;
}

.trustButton,
.distructButton {
    display: inline-block;
}
