Generated on M4_SATIS_GENERATION_DATE

# Your .onion address
Header always set Alt-Svc "h2=\"put-onion-address-here.onion:443\"; ma=3600"

# Set the valid SAT Sig as the default value
Header always set X-SAT-SIG M4_SATIS_SIG

# Set error pages
SetEnvIf Request_Uri "badtime/$" SatSig=M4_SATIS_SIG_BAD_TIME
SetEnvIf Request_Uri "badfp/$" SatSig=M4_SATIS_SIG_BAD_FP
SetEnvIf Request_Uri "baddomain/$" SatSig=M4_SATIS_SIG_BAD_DOMAIN
SetEnvIf Request_Uri "badsig/$" SatSig=M4_SATIS_SIG_BAD_SIG
SetEnvIf Request_Uri "badlabel/$" SatSig=M4_SATIS_SIG_BAD_LABEL

# Unset SAT Sig header if SatSig is non-null
Header always unset X-SAT-SIG env=SatSig
# Set SAT Sig if SatSig is non-null
Header always set X-SAT-SIG "%{SatSig}e" env=SatSig
